<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agencia de Viajes</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Agencia de Viajes</h1>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="#">Destinos</a></li>
                <li><a href="#">Paquetes</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <div class="hero-content">
            <h2>Explora el Mundo</h2>
            <p>Descubre los destinos más increíbles con nosotros.</p>
            <a href="#" class="btn">Reserva Ahora</a>
        </div>
    </section>

    <section class="destinos">
        <h2>Destinos Populares</h2>
        <div class="destinos-container">
            <div class="destino">
                <img src="imag/new-york.jpg" alt="París">
                <h3>Nueva York, USA</h3>
                <p>La ciudad que nunca duerme.</p>
                <a href="new.html" class="btn-destino">Ver Más</a>
            </div>
            <div class="destino">
                <img src="imag/hotel-edison-facade.jpg" alt="Tokio">
                <h3>Hotel-New-york</h3>
                <p>Mejor vista y comodidad.</p>
                <a href="#" class="btn-destino">Ver Más</a>
            </div>
            <div class="destino">
                <img src="imag/new-york-dining-room.jpg"Nueva York">
                <h3>Restaurant-new-york</h3>
                <p>mejor restaurante recomendado.</p>
                <a href="#" class="btn-destino">Ver Más</a>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 Agencia de Viajes. Todos los derechos reservados.</p>
    </footer>
</body>
</html>